{% assign add_to_cart_text = 'Add To Cart' %}
{% assign backorder_meta = product.metafields.backorder %}
<section class="content content-area">

  <div class="mobile-product-title">
    <p class="title" style="text-align:left;">{{ product.title }}</p>
    {% if product.compare_at_price_min > product.price_min %}
      <p class="price sale" style="text-align:left;"><span class="original">{{ product.compare_at_price_min | money_without_trailing_zeros }}</span> {{ product.price_min | money_without_trailing_zeros }}</p>
    {% else %}
      <p class="price" style="text-align:left;">{{ product.price_min | money_without_trailing_zeros }}</p>
    {% endif %}
  </div>

  <section id="product-area" class="clearfix">

    <div class="showcase {% if product.images.size == 1 %}wide{% endif %}">
      <div class="container">
        <div class="wrap">
          <img alt="{{ product.featured_image.alt }}" src="{{ product.featured_image | product_img_url: 'original' }}">
          {% if settings.product-image-borders %}<span class="overlay"></span>{% endif %}
        </div>
      </div>

      {% if settings.display-fullsize-product-viewer %}
      <div class="notes">
        <a href="#" class="toggle-fullview"><span class="icon">l</span>View fullsize image</a>
      </div>
      {% endif %}
      {% if settings.display-product-email-link %}
      <div class="notes">
        <a href="mailto:{{ shop.email }}?Subject={{ product.title | escape }}" class="email-us"><span class="icon">j</span>Email us about this product</a>
      </div>
      {% endif %}
      {% if settings.enable-fitting-guide %}
      <div class="notes">
        <a href="/pages/{{ settings.fitting-guide-link }}" class="fitting-guide"><span class="icon">{{ settings.fitting-guide-icon }}</span>{{ settings.fitting-guide-label }}</a>
      </div>
      {% endif %}
    </div>

    {% if product.images.size > 1 %}
    <div class="pager">
      <div class="inner">
        {% for image in product.images %}
          <div class="wrap thumb {% include 'for-looper' %} {% if forloop.first %}active{% endif %}">
            <img alt="{{ image.alt }}" src="{{ image.src | product_img_url: 'small' }}" data-high-res-url="{{ image.src | product_img_url: 'original' }}">
            <span class="overlay"></span>
          </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <div class="details {% if product.images.size > 1 %}border{% endif %} {% if product.variants.size == 1 and settings.display-product-quantity-option == false %}no-options{% endif %}">

      <div class="module header">
        <p class="title" style="text-align:left;">{{ product.title }}</p>
        {% if product.compare_at_price_min > product.price_min %}
          <p class="price sale" style="text-align:left;"><span class="original">{{ product.compare_at_price_min | money }}</span> {{ product.price_min | money }}</p>
        {% else %}
          <p class="price" style="text-align:left;">{{ product.price_min | money }}</p>
        {% endif %}
      </div>

      <div class="module options {% unless product.available %}unavailable{% endunless %}">

        {% if product.available %} <!-- If the product is available then... -->
        <form action="/cart/add" id="hc-add-to-cart" method="post" data-productid="{{product.id}}">
			{% include 'subscription-product' %}
          {% if product.variants.size > 1 %} <!-- Create a variants dropdown IF the product has more than one variant -->
			<div class="hc-upper-action">
              <select name="id" id="product-select" class="product-select hc-attr"  data-productid="{{product.id}}">
                {% for variant in product.variants %}
                  <option data-backorder="{% if variant.inventory_policy == 'continue' and variant.inventory_quantity <= 0 %}true{%else%}false{% endif %}" value="{{ variant.id }}" id="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                	{% increment variant_count %}
                	{% if variant.inventory_policy == 'continue' and variant.inventory_quantity <= 0 %}
                      {% assign backorder_instance = true %}
                		{% if variant_count == 1 %}
                			{% assign add_to_cart_text = 'RESERVE' %}
                		{% endif %}
                    {% endif %}  
               
                {% endfor %}
              </select>
            </div>

            <script>
              $(function(){
                new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallbackQuickShop });
              {% if product.options.size == 1 %}
                {% for variant in product.variants %}
                  {% unless variant.available %}
                  jQuery('.single-option-selector option').filter(function() { return jQuery(this).html() === {{ variant.title | json }}; }).remove();
                  {% endunless %}
                {% endfor %}
                jQuery('.single-option-selector').trigger('change');
              {% endif %}
              });
            </script>

          {% else %} <!-- If the product only has one variant, create a hidden input with the variant id. NOTE: Necessary for "add to cart" to work -->

            {% for variant in product.variants %}
              <input type="hidden" name="id" class="product-select {% if variant.inventory_policy == 'continue' and variant.inventory_quantity <= 0 %}backorder{% endif %}" value="{{ variant.id }}" data-variant-title="{{ variant.title }}" />
          	{% if variant.inventory_policy == 'continue' and variant.inventory_quantity <= 0 %}
              {% assign backorder_instance = true %}
            {% endif %}  
          {% endfor %}

          {% endif %}
          <div class="hc-action-wrapper">
            {% if settings.display-product-quantity-option %}
            <div class="selector-wrapper quantity">
              <label>Quantity</label>
              <!--<input type="text" class="product-quantity field" name="quantity" value="1">-->
              <select name="quantity" id="product-quantity" class="product-quantity hc-attr">
                {% for i in (1..10) %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
              </select>
              <span class="toggle"></span>
            </div>
            {% else %}
            <input type="hidden" name="quantity" value="1">
            {% endif %}
			
            {% assign is_freebie = false %}
            {% for collection in product.collections %}
				{% if collection.handle contains 'buy-1-get-1' %}
					{% assign is_freebie = true %}
                {% endif %}
            {% endfor %}
            
            {% if is_freebie %}
            {% include 'hiro-freebie' %}
            {% endif %}

            <div class="selector-wrapper submit-wrapper">
              {% if product.options.size > 1 %}<label></label>{% endif %}<input type="submit" class="action-button submit" value="{{ add_to_cart_text }}">
            </div>
          </div>
          
        </form>
        {% else %}

          <span class="action-button unavailable disabled">Sold out</span>

        {% endif %}
      </div>
      
        {% if backorder_instance == true %}
        <div class="backorder-wrapper hide-backorder desktop-backorder">
          <p class="backorder-text">This size is out of stock.  A new batch is coming soon.</p>
          <p class="backorder-text">Reserve one today!</p>
          {% if backorder_meta.subtext != null %} <p class="backorder-subtext">{{ backorder_meta.subtext }} </p>{% endif %}
        </div>
        {% endif %}

      {% if product.description.size > 0 %}
      <div class="module description">
        <!-- Share Buttons Removed -->
        <div class="rte">{{ product.description }}</div>
      </div>
      {% endif %}
      
      

    </div>

  </section>

  {% if settings.display-related-products %}

      {% assign number_of_related_products_to_show = 4 %}
      {% assign image_size = 'medium' %}
      {% assign heading = settings.related-products-title %}

      {% capture number_of_related_products_to_fetch %}{{ number_of_related_products_to_show | plus: 1 }}{% endcapture %}

      {% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
          {% assign found_a_collection = false %}
          {% for c in product.collections %}
              {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' %}
                  {% assign found_a_collection = true %}
                  {% assign collection = c %}
              {% endif %}
          {% endfor %}
      {% endif %}

      {% if collection.products.size > 1 %}

      <section class="related-products">
        
          <h1 class="section-title section-border">{{ heading }}</h1>

          <ul class="product-list">

              {% assign current_product_found = false %}
              {% for prod in collection.products limit: number_of_related_products_to_fetch %}{% if prod.title == product.title %}{% assign current_product_found = true %}{% else %}{% unless current_product_found == false and forloop.last %}{% include 'product-item' %}{% endunless %}{% endif %}{% endfor %}

          </ul>
      </section>

      {% endif %}

  {% endif %}

</section>

{% if settings.display-fullsize-product-viewer %}
<section class="fullscreen-product-viewer">
  <div class="modal">
    <div class="modal-wrap">
      <span class="close">v</span>
      <div class="showcase {% if product.images.size == 1 %}wide{% endif %}">
        <div class="container">
          <div class="wrap">
            <img alt="{{ product.featured_image.alt }}" src="{{ product.featured_image | product_img_url: 'original' }}">
            <span class="overlay"></span>
          </div>
        </div>
      </div>

      {% if product.images.size > 1 %}
      <div class="pager antiscroll-wrap">
        <div class="antiscroll-inner">
          {% for image in product.images %}
            <div class="wrap thumb {% include 'for-looper' %} {% if forloop.first %}active{% endif %}">
              <img alt="{{ image.alt }}" src="{{ image.src | product_img_url: 'small' }}" data-high-res-url="{{ image.src | product_img_url: 'original' }}">
              <span class="overlay"></span>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}


{% if product.available %}
	{% include 'fixed-cta' %}
{% endif %}
